footer
	.container

		a(href="" class="logo")
			img(src="img/logo2.svg", alt="" class="logo")

		div
			ul
				li
					a(href="") О компании
				li
					a(href="") История компании
				li
					a(href="") Вакансии
				li
					a(href="") Наши офисы
				li
					a(href="") Реклама и сотрудничество

			ul
				li
					a(href="") Курсы
				li
					a(href="") Оплата и реквизиты
				li
					a(href="") Новости
				li
					a(href="") Вклады
				li
					a(href="") Инвестиционные проекты
		//- .right
			//- .order
			//- 	div Выберете удобные для Вас день время для обратного звонка
			//- 	button(class="btn btn--order" data-modal-button="contact-us") закажите звонок

			//- a(href="")
			//- 	img(src="img/logofooter.png", alt="")
			//- ul(class="menu")
			//- 	li 2019 @ Копирайт Глобал Фитнес
			//- 	li 
			//- 		a(href="") Информация  cookie                 
			//- 	li 
			//- 		a(href="") Конфиденциальность   
			//- 	li 
			//- 		a(href="") Использование личной информации

		//- a(href="https://fairtech-marketing.com.ua/ " class="designed") Разработано Fairtech.Marketing