footer
	.container

		a(href="" class="logo")
			img(src="img/logo2.svg", alt="" class="logo")

		div
			ul
				li
					a(href="") О компании
				li
					a(href="") История компании
				li
					a(href="") Вакансии
				li
					a(href="") Наши офисы
				li
					a(href="") Реклама и сотрудничество

			ul
				li
					a(href="") Курсы
				li
					a(href="") Оплата и реквизиты
				li
					a(href="") Новости
				li
					a(href="") Вклады
				li
					a(href="") Инвестиционные проекты

	.container
			.phone
				img(src="img/icons/phone.svg", alt="")
				| +380 (63) 103 00 02
			.email
				img(src="img/icons/e-mail.svg", alt="") 
				| info@mamedof.com
			.address
				img(src="img/icons/location.svg", alt="") 
				| Одесса ул. Малая Арнаутская 85

			.socials
				img(src="img/icons/social/fb.svg", alt="")
				img(src="img/icons/social/inst.svg", alt="")
				img(src="img/icons/social/you.svg", alt="")