footer
	.container

		a(href="" class="logo")
			img(src="img/logo2.svg", alt="" class="logo")

		.footer-menu
			ul
				li
					a(href="") О компании

				li
					a(href="") Курсы
			ul
				li
					a(href="") История компании
				li
					a(href="") Оплата и реквизиты

			ul
				li
					a(href="") Вакансии
				li
					a(href="") Новости
			ul
				li
					a(href="") Наши офисы
				li
					a(href="") Вклады
			ul
				li
					a(href="") Реклама и сотрудничество
				li
					a(href="") Инвестиционные проекты

		.language(data-dropdown)
			.language__value(data-dropdown-value) русский
			.language__list
				.language__list--item(data-dropdown-item) русский
				.language__list--item(data-dropdown-item) украинский
				.language__list--item(data-dropdown-item) english

	.container
		a(href="tel:380631030002" class="phone")
			img(src="img/icons/phone.svg", alt="")
			| +380 (63) 103 00 02
		a(href="mailto:info@mamedof.com" class="email")
			img(src="img/icons/e-mail.svg", alt="") 
			| info@mamedof.com
		a(href="" class="address")
			img(src="img/icons/location.svg", alt="") 
			| Одесса ул. Малая Арнаутская 85

		.socials
			a(href="")
				img(src="img/icons/social/fb.svg", alt="")
			a(href="")
				img(src="img/icons/social/inst.svg", alt="")
			a(href="")
				img(src="img/icons/social/you.svg", alt="")