nav
	ul
		each val in [{url: 'traiding', name: 'Вклады', pageName:'traiding'}, {url: 'leasing', name: 'Инвестиционные проекты', pageName:'leasing'}, {url: 'dealers', name: 'Продажа бизнеса', pageName:'dealers'}, {url: 'about', name: 'Услуги', pageName: "about"}, {url: 'examples', name: 'Новости', pageName:'our-work'}, {url: 'contacts', name: 'Премиум', pageName:'contacts'}, {url: 'contacts', name: 'Информация', pageName:'contacts'}]
			li(class=((val.pageName == htmlWebpackPlugin.options.page) ? 'active' : ''))
				a(href=val.url + '.html')= val.name