nav
	ul
		each val in [{url: 'traiding', name: 'Трейдинг', pageName:'traiding'}, {url: 'leasing', name: 'Финансирование', pageName:'leasing'}, {url: 'dealers', name: 'Дилеры', pageName:'dealers'}, {url: 'about', name: 'О компании', pageName: "about"}, {url: 'examples', name: 'Наши работы', pageName:'our-work'}, {url: 'contacts', name: 'Контакты', pageName:'contacts'}]
			li(class=((val.pageName == htmlWebpackPlugin.options.page) ? 'active' : ''))
				a(href=val.url + '.html')= val.name