.socials
	a(href="#" class="socials__item")
		img(src="img/facebook.svg", alt="")
	a(href="#" class="socials__item")
		img(src="img/instagram.svg", alt="")
	a(href="#" class="socials__item")
		img(src="img/telegram.svg", alt="")