.btn 
    outline: none
    border: none
    padding: 5px
    cursor: pointer
    // text-transform: uppercase
    font-weight: 600
    transition: 0.1s
    &:active
        transform: translateY(1px)

    &--gold
        padding: 10px 30px
        background: $c-gold
        color: $c-white
        font-size: 16px
        width: 270px
        font-weight: 500;
        font-size: 20px
        border: 1px solid transparent
        &:hover 
            background: none
            color: $c-gold
            border: 1px solid $c-gold
    // &--order
    //     padding: 16px 30px;
    //     background: none;
    //     color: $c-white
    //     font-size: 16px;
    //     width: 420px;
    //     font-weight: 300
    //     border: 2px solid $c-blue 
    //     &:hover 
    //         background: none
    //         color: $c-blue 
    //         border: 2px solid $c-blue 
    // &--transparent
    //     padding: 12px 38px
    //     background: none
    //     color: $c-blue
    //     font-size: 14px
    //     font-weight: 400
    //     border: 1px solid $c-blue 
    //     &:hover 
    //         background: $c-blue
    //         color: $c-white 
    //         border: 1px solid $c-blue 
    // &--buy
    //     padding: 10px 30px
    //     background: none
    //     color: $c-blue
    //     font-size: 15px
    //     font-weight:400
    //     border: 1px solid $c-blue 
    //     text-transform: none
    //     display: flex
    //     align-items: center
    //     justify-content: center
    //     svg 
    //         width: 18px
    //         height: 18px
    //         font-size: 20px
    //         fill: $c-blue
    //         display: block
    //         margin-right: 5px
    //         position: relative
    //         top: -1px
    //     &:hover 
    //         background: $c-blue 
    //         color: $c-white 
    //         border: 1px solid $c-blue 
    //         svg 
    //             fill: $c-white
    //     &-blue
    //         background: $c-blue
    //         color: $c-white
    //         &:hover
    //             color: $c-blue
    //             background: none
    //             svg
    //                 fill: $c-blue
                    
    //         svg 
    //             fill: $c-white
    // &--compare
    //     padding: 10px 0px
    //     background: $c-blue 