header
	// height: calc(47px + 65px)
	// position fixed
	left: 0
	top: 0
	background: #1A1A1A
	width: 100%
	z-index: 100
	padding-top: 12px
	// transition: 0.5s
	// &.example-header
	// 	position: relative
	// &.hidden
	// 	top: - 200px
	@media mqBigMobile
		height: calc(40px + 55px)
	@media mqMidMobile
		height: calc(35px + 45px)

	.language
		margin-right: 10px
		

	nav
		width: 100%
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8)
		margin-top: 15px
		@media mqBigMobile
			display: none
		ul
			display: flex
			// justify-content: space-between
			li
				// margin: 0 6px
				width: calc(100%/7)
				border-right: 1px solid #292929
				&:last-child
					border-right: none
				// &.active, &:hover
				// 	a:after 
				// 		display block
				// text-align: center
				a
					display: flex
					align-items: center
					justify-content: center
					padding: 0
					font-size: 14px
					color: $c-white
					font-weight: 500
					letter-spacing: 0.5px
					position: relative
					height: 81px
					text-align: center
					// &:after 
					// 	content: ''
					// 	display none
					// 	position absolute
					// 	z-index: 2
					// 	bottom: -1px
					// 	height: 2px
					// 	width: 100%
					// 	left: 0
					// 	background: #0786ff
					@media mqSmallDesktop
						padding: 13px 5px 15px
					@media mqMidTablet
						font-size: 12px
						padding: 14px 2px 16px

	.logo 
		display: flex
		align-items: center
		@media mqBigMobile
			display: none
	
	.container
		display: flex
		justify-content: space-between
		align-items:center
		// height: 100%
		// max-width: 100%
		& + .container
			padding-top: 8px
		.center 
			height: 100%
			display: flex
			align-items: center
			margin-right: 100px
			.phone,
			.email
				display flex
				align-items: center
				flex-wrap: nowrap
				color: $c-white
				margin: 0 40px
				font-weight: 300
				&:hover
					text-decoration: underline
				img 
					margin-right: 5px


		.burger
			width: 30px
			height: 30px
			margin-left: 20px
			margin-right: 20px
			z-index: 10
			transition: all .2s linear
			cursor: pointer
			display: none
			@media mqBigMobile
				display: block
			@media mqMidMobile
				width: 25px
				height: 27px
			&.opened
				span
					
					width: 30px
					background: none

					&:before
						width: 30px
						background: $c-blue
						top: 0px
						left: 0
						-webkit-transform: rotate(45deg)
						-ms-transform: rotate(45deg)
						-o-transform: rotate(45deg)
						transform: rotate(45deg)
						@media mqMidMobile
							width:25px
					

					&:after
						background: $c-blue
						width: 30px
						top: 0px
						left: 0
						-webkit-transform: rotate(-45deg)
						-ms-transform: rotate(-45deg)
						-o-transform: rotate(-45deg)
						transform: rotate(-45deg)
						@media mqMidMobile
							width:25px
							
			span
				position: relative
				width: 100%
				height: 3px
				display: inline-block
				background:  $c-blue
				transform: translateY(-50%)
				transition: all 0.2s linear
				@media mqMidMobile
					height: 2px
				&:before
					content: ""
					display: block
					width: 100%
					height: 3px
					background:  $c-blue
					position: absolute
					right: 0
					top: -9px
					transition: all 0.2s linear
					@media mqMidMobile
						height: 2px
						top: -7px

				&:after 
					content: ""
					display: block
					width: 100%
					height: 3px
					background:  $c-blue
					position: absolute
					right: 0
					top: 9px
					transition: all 0.2s linear
					@media mqMidMobile
						height: 2px
						top: 7px
		
		.dropdown-menu
			opacity: 0
			visibility: hidden
			position: absolute
			width: 100%
			background: #fff
			padding: 10px 0 20px 0px
			left: 0
			top: 0px
			transition: 0.2s
			box-shadow: 0px 10px 20px -15px #000
			text-align: center
			will-change: transform
			z-index: -1
			overflow: auto
			pointer-events: none

			@media screen and (min-width: 769px) 
				display: none
			&--title 
				font-size: 14px
				text-transform: uppercase
				color: #363636
				// margin-bottom: 20px
				font-weight: 600
				padding: 14px 0
				border-top: 1px solid #e8e8e8
				border-bottom: 1px solid #e8e8e8
				position: relative
				&.no-children
					span:after
						display: none
				&.active
					& + .additional-menu 
						display: block
					span
						&:after
							top: 2px
							transform: rotate(225deg);
							-webkit-transform: rotate(225deg)
				span 
					position: relative
					&:after 
						content: ''
						margin-right: 7px
						border: solid #1f1f1f
						border-width: 0 1px 1px 0
						display: inline-block
						padding: 2px
						position: absolute
						right: -13px
						bottom: 0
						top: -3px
						margin: auto
						width: 0
						height: 0
						transform: rotate(45deg)
						-webkit-transform: rotate(45deg)
						transition: 0.2s
				
				&:first-child
					border-top: none
				& ~ .dropdown-menu--title
					border-top: none
			.socials
				margin-top: 20px
				position: static
				display: flex
				justify-content: center
				&__item
					margin: 0 4px
					
			&.opened
				top: 54px
				opacity: 1
				visibility: visible
				max-height: calc(100vh - 94px)
				pointer-events: auto
				@media mqMidMobile
					top: 44px
					max-height: calc(100vh - 80px)
			nav 
				width: 100%
				padding: 0
				display: block
				ul
					display: block
					li
						a
							font-size: 14px
							padding: 16px 0
							&:after
								width: 100px
								left: 0
								right: 0
								margin: auto
								bottom: 5px;
							@media mqMidMobile
								padding: 10px 0
	