$desktop = 1920px
$small-desktop = 1440px

$big-tablet = 1280px
$mid-tablet = 1024px
$small-tablet = 980px

$big-mobile = 768px
$semi-mobile = 600px
$mid-mobile = 480px
$small-mobile = 375px

mqSmallDesktop = "only screen and (max-width: " + $small-desktop + ")"

mqBigTablet = "only screen and (max-width: " + $big-tablet + ")"
mqMidTablet = "only screen and (max-width: " + $mid-tablet + ")"
mqSmallTablet = "only screen and (max-width: " + $small-tablet + ")"

mqBigMobile = "only screen and (max-width: " + $big-mobile + ")"
mqSemiMobile = "only screen and (max-width: " + $semi-mobile + ")"
mqMidMobile = "only screen and (max-width: " + $mid-mobile + ")"
mqSmallMobile = "only screen and (max-width: " + $small-mobile + ")"



// .triangle
// 	position: absolute
// 	width: 130px
// 	left: 0
// 	right: 0
// 	margin: auto
// 	z-index: 0

// 	& > div
// 		width: 142px
// 		height: 4px
// 		background: linear-gradient(90deg, #6A5538 -0.02%, #BC975E 21.32%, #D9BE85 37.46%, #E7D491 55.17%, #C5A76C 67.3%, #BC975E 81.72%, #6A5538 99.94%);
// 		margin-top: 45px
// 		margin-left: -6px
// 		border-radius: 5px
// 		&:before
// 			content: " "
// 			display: block
// 			width: 130px
// 			height: 4px
// 			background: linear-gradient(90deg, #6A5538 -0.02%, #BC975E 21.32%, #D9BE85 37.46%, #E7D491 55.17%, #C5A76C 67.3%, #BC975E 81.72%, #6A5538 99.94%)
// 			transform: rotate(56deg)
// 			position: absolute
// 			top: -8px
// 			right: -35px
// 			border-radius: 5px
// 		&:after
// 			content: " "
// 			display: block
// 			width: 130px
// 			height: 4px
// 			background: linear-gradient(90deg, #6A5538 -0.02%, #BC975E 21.32%, #D9BE85 37.46%, #E7D491 55.17%, #C5A76C 67.3%, #BC975E 81.72%, #6A5538 99.94%);
// 			transform: rotate(-56deg)
// 			position: absolute
// 			top: -8px
// 			left: -35px
// 			border-radius: 5px