@import 'reset.css'
@import 'variables.styl'
@import 'mixins.styl'
@import 'controls.styl'
@import 'header.styl'
@import 'footer.styl'
@import 'button.styl'
@import 'pages/home.styl'
@import 'pages/business_sale.styl'
// @import 'pages/about.styl'
// @import 'pages/catalog.styl'
// @import 'pages/examples.styl'
// @import 'pages/traiding.styl'
// @import 'pages/contacts.styl'
// @import 'pages/leasing.styl'
// @import 'pages/profile.styl'
// @import 'pages/dealers.styl'
// @import 'pages/not-found.styl'
@import 'modal.styl'
@import 'magnify.css'
@import 'slick.css'

body 
	// font-family: 'Roboto', sans-serif
	font-family: 'Montserrat', sans-serif
	color: #1f1f1f
input, button, textarea
	// font-family: 'Roboto', sans-serif
	font-family: 'Montserrat', sans-serif
	

main 
	// min-height: calc(100vh - 265px)
	// padding-top: calc(47px + 65px + 34px)
	position: relative
	overflow: hidden
	
	// @media mqBigMobile
	// 	padding-top: calc(40px + 55px + 20px)
	// @media mqMidMobile
	// 	padding-top: calc(35px + 45px + 20px)

// section
	// overflow: hidden	
		
.overlay
	display: none
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: rgba(25, 25, 25, 0.6)
	z-index: 6

.container 
	max-width: 1250px
	margin: auto
	padding: 0 40px
	@media mqBigMobile
		padding: 0 20px
		
.breadcrumbs
	&__item
		font-size: 14px
		// color: #fff
		letter-spacing: .2px
		display: inline-block
		color: #0786ff
		a {
			color: #878787
			text-decoration: underline
		}
		& + .breadcrumbs__item 
			&:last-child 
				&:before
					color: #0786ff
			&:before 
				color: #878787
				content: '|'
				margin: 0 5px


.title
	font-size: 40px
	position: relative
	font-weight: 600
	display: flex
	align-items: center
	justify-content: space-between
	font-family: IBM Plex Serif
	letter-spacing: 1px
	& > div
		width: 100%
	&--border
		border-bottom: 2px solid #eee
		width: 87%
	ul 
		display: flex
		align-self: flex-end
		li
			font-size: 16px
			font-weight: 400
			margin: 0 6px 0px
			position relative
			padding: 14px 13px
			cursor: pointer
			font-family: Montserrat
			transition: 0.1s
			&:after
				content: ''
				position absolute
				bottom: -2px
				left: 0
				width: 100%
				height: 4px
				background: $c-gold
				transition: 0.2s
				opacity: 0
				visibility hidden
			&:hover
				color: $c-gold
			&.active
				color: $c-gold-dark
				// font-weight: 600
				text-shadow: 0 0px 0px $c-gold-dark
				&:after
					opacity: 1
					visibility: visible
	a 
		font-size: 16px
		color: $c-gold-dark
		position relative
		font-family: Montserrat
		font-weight: 400
		margin: 10px 58px 0px 0px
		&:after
			content: ''
			position: absolute
			right: -28px
			bottom: 0px
			top: 1px
			margin: auto
			width: 0
			height: 0
			border-top: 4px solid transparent
			border-bottom: 4px solid transparent

			border-left: 7px solid $c-gold
			transition: 0.2s
		&:before
			content: ''
			background: url(../img/tiangle-gold.svg) no-repeat
			background-size: contain
			width: 17px
			height: 17px
			position absolute
			right: -32px
			bottom: 1px
			margin: auto
			transform: rotate(90deg)

.top-block
	height: 496px
	background-size: cover!important
	.container 
		height: 100%
		display: flex
		flex-wrap: wrap
		align-content: center
		padding-bottom: 73px
	&__title
		color: #fff
		width: 50%
		font-size: 40px
		font-weight: 600
		line-height: 52px
		font-family: IBM Plex Serif
		position: relative
		letter-spacing: 0.55px
		// margin-top: -20px
		&:after 
			content: ''
			background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
			height: 3px
			width: 100px
			// margin: 10px 0 20px 0
			left: 0px
			bottom: -30px
			// margin: auto
			display: block
			position absolute
	&__text
		color: #fff
		font-size: 20px
		line-height: 24px
		margin-top: 60px
		width: 59%
		font-weight: 300
		letter-spacing: 0.15px

.bottom-block
	padding: 39px 0 48px 0
	// margin-top: 50px
	background: #1A1A1A
	position relative
	overflow: hidden
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8)
	@media mqBigTablet
		padding: 30px 30px
	@media mqBigMobile
		padding: 30px 30px
	@media mqSmallMobile
		padding: 20px
	.container 
		position relative
		align-items: center

	.btn--gold
		margin-right: 12px
		width: 250px

	&__top
		display flex
		align-items: center
		justify-content: space-between
	&__title
		color: #fff
		font-family: IBM Plex Serif
		font-style: normal
		font-weight: 600
		font-size: 40px
		line-height: 52px
	&__text
		line-height: 20px
		width: calc(100% - 275px)
		margin-top: 29px
		margin-left: -27px
		padding: 29px 20px 50px 27px
		background: #1A1A1A
		color: #fff
		font-size: 16px
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8)
	&__list
		margin-top: 75px
		display flex
		justify-content: space-between
		position relative
		padding: 0 40px
		&__item
			padding: 20px
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8)
			width: calc(100%/4 - 50px)
			text-align: center
			position relative
			height: 146px
			display: flex
			align-items: flex-end
			justify-content: center

			&--title
				color: $c-white
				font-size: 16px

			&--top
				position absolute
				width: 100%
				height: 100%
				left: 0
				pointer-events: none
				&:before
					content: ''
					position absolute
					left: -40px
					top: -15px
					width: 1px
					height: calc(100% + 45px)
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
				&:after
					content: ''
					position absolute
					left: -40px
					top: -15px
					width: calc(100% + 80px)
					height: 1px
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
			&--bottom
				position absolute
				width: 100%
				height: 100%
				left: 0
				pointer-events: none
				&:before
					content: ''
					position absolute
					right: -40px
					top: -15px
					width: 1px
					height: calc(100% + 45px)
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
				&:after
					content: ''
					position absolute
					right: -40px
					bottom: -30px
					width: calc(100% + 80px)
					height: 1px
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)

			&--img
				position: absolute
				left: 0
				right: 0
				top: -15px
				margin: auto
				width: 74px
				height: 74px
				img 
					display block
					width: 100%
					margin: auto
		&--top
			position absolute
			width: 100%
			height: 100%
			left: 0
			pointer-events: none
			&:before
				content: ''
				position absolute
				left: 0
				top: -106px
				width: 2px
				height: calc(100% + 152px)
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
			&:after
				content: ''
				position absolute
				left: 0
				top: -106px
				width: 100%
				height: 2px
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)

						
		&--bottom
			position absolute
			width: 100%
			height: 100%
			left: 0
			pointer-events: none
			&:before
				content: ''
				position absolute
				right: 0
				top: -106px
				width: 2px
				height: calc(100% + 152px)
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
			&:after
				content: ''
				position absolute
				right: 0
				bottom: -47px
				width: 100%
				height: 2px
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)

.language
	// margin-left: 60px
	position: relative
	// width: 30px
	margin-top: -2px
	font-weight: 300
	@media mqSmallDesktop
		margin-left: 25px
	@media mqBigMobile
		margin-left: 15px
	&.active
		.language__value
			&:after
				top: 3px
				transform: rotate(180deg)
				-webkit-transform: rotate(180deg)
		.language__list
			opacity: 1
			visibility: visible
	&__value
		text-align: right
		font-size: 14px
		cursor pointer
		color: $c-white
		@media mqMidTablet
			font-size: 12px
		@media mqBigMobile
			font-size: 14px
		&:after
			content: ''
			position: absolute
			left: -13px
			top: 3px
			bottom: 0
			margin: auto
			width: 0
			height: 0
			border-left: 5px solid transparent
			border-right: 5px solid transparent

			border-top: 7px solid $c-gold
			transition: 0.2s
	&__list
		// width: 54px
		background: $c-white
		position: absolute
		opacity: 0
		visibility: hidden
		z-index: 6
		box-shadow: 0 3px 14px -8px #000
		left: 0
		transition: 0.1s
		top: 20px
		@media mqMidTablet
			left: -2px
		@media mqBigMobile
			left: -6px
		&--item
			padding: 5px 10px
			font-size: 14px
			color: #1f1f1f
			cursor: pointer
			text-align: center
			@media mqMidTablet
				font-size: 12px
			@media mqBigMobile
				font-size: 14px
			&:hover
				background: #e8e8e8
								
// @keyframes slideinRight {
// 	from {
// 		transform: translateX(100%)
// 		opacity: 0
// 		visibility: hidden
// 	}

// 	to {
// 		transform: translateX(0)
// 		opacity: 1
// 		visibility: visible
// 	}
// }

	
// @keyframes slideinLeft {
// 	from {
// 		transform: translateX(-100%)
// 		opacity: 0
// 		visibility: hidden
// 	}

// 	to {
// 		transform: translateX(0)
// 		opacity: 1
// 		visibility: visible
// 	}
// }