doctype html
head
	title Mamedof
	link(rel="shortcut icon" href="/favicon.png")
	meta(content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1" name="viewport")
	//- block head
	link(href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&display=swap" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,300,400,500,600,700&display=swap" rel="stylesheet")
body
	header(class=htmlWebpackPlugin.options.page + '-header')
		.container
			include parts/main-logo.pug

			.phone
				img(src="img/icons/phone.svg", alt="")
				| +380 (63) 103 00 02
			.email
				img(src="img/icons/e-mail.svg", alt="") 
				| info@mamedof.com

			.language(data-dropdown)
				.language__value(data-dropdown-value) русский
				.language__list
					.language__list--item(data-dropdown-item) русский
					.language__list--item(data-dropdown-item) украинский
					.language__list--item(data-dropdown-item) english

		.container
			include parts/main-menu.pug

		//- 			.burger
		//- 				span

		//- 	.dropdown-menu
		//- 		.dropdown-menu--title.active
		//- 			span Продукция
		//- 		include parts/products-menu.pug
		//- 		.dropdown-menu--title 
		//- 			span Готовые решения
		//- 		include parts/solutions-menu.pug
		//- 		.dropdown-menu--title.no-children
		//- 			a(href="sell-out.html") Распродажа

		//- 		include parts/socials.pug

		//- 	include parts/socials.pug

		//- 	include parts/mobile-menu.pug

	main(class=htmlWebpackPlugin.options.page + '-page')
		block content

	include  parts/footer.pug

	//- include parts/modals.pug

	//- div(style="display: none")
	//- 	include  sprite.svg