extends ../layout.pug
include ../mixins/about-list.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="") Главная
			li(class="breadcrumbs__item") Наша компания

		.title Наша компания

		.subtitle О компании
		div(class="text") Global Fitness - мировой лидер в индустрии восстановленных и бывших в употреблении фитнес-оборудования. На протяжении более 20 лет мы постоянно являемся первопроходцами в инновациях, меняя взгляды владельцев и менеджеров на свое оборудование и нарушая традиционную модель. Превосходя высочайший уровень качества и контроля, Global Fitness продолжает расти и развивать свой сегмент рынка, никогда не осваивая и не претворяя в жизнь идеи на новых высотах. Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки, который начинается с момента зачатия, с момента продажи и продолжается послепродажное обслуживание и после него. Если вы ищете оборудование высочайшего качества по более доступным и разумным ценам, вам не нужно смотреть дальше.



	.circle-block-wrapper
		.circle-block
			.circle-block__circle
				div Комплекстация спорт залов
				.circle-block__info
					.circle-block__info--title Комплекстация спорт залов
					.circle-block__info--text Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки.
			.circle-block__circle
				div Иновационный подход
				.circle-block__info
					.circle-block__info--title Иновационный подход
					.circle-block__info--text Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки.
			.circle-block__circle
				div Комплекстация спорт залов
				.circle-block__info
					.circle-block__info--title Комплекстация спорт залов
					.circle-block__info--text Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки.
			.circle-block__circle
				div Продажа оборудования
				.circle-block__info
					.circle-block__info--title Продажа оборудования
					.circle-block__info--text Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки.

			img(src="img/main_logo.png", alt="" class="circle-block__logo")

	.container
		div(class="text") Любимые нашими клиентами и завидующие нашими конкурентами, мы всегда на несколько шагов впереди, гарантируя, что мы обеспечим «как новый» опыт покупки, который начинается с момента зачатия, с момента продажи и продолжается послепродажное обслуживание и после него. Если вы ищете оборудование высочайшего качества по более доступным и разумным ценам, вам не нужно смотреть дальше.
		
		+about-list([{name: 'Наша команда', url: 'our-team.html', img: 'img/about-us-1.png'}, {name: 'Качество оборудования', url: 'quality.html', img: 'img/about-us-2.png'}, {name: ' Наши клиенты', url: 'our-clients.html', img: 'img/about-us-3.png'}, {name: 'Принципы работы', url: 'principles.html', img: 'img/about-us-4.png'}])

	include ../parts/bottom-block.pug