extends ../layout.pug

block content
    .top-block(style="background: url(../img/business-sale.png)")
        .container
            .top-block__title Продажа бзнеса
            .top-block__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

    section.service-block
        .container
            .service-block__left
                .service-block__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах.
                .btn.btn--gold 
                    button Заказать услугу
            .service-block__right
                .banner(style="background: url(../img/banner.png)")
                    .banner--title Заголовок
                    .banner--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    .btn.btn--gold 
                        button Подробнее

    section.stages
        .container
            .title 
                div Этапы работы

            .stages__list
                each val in [1,2,3,4,5,6]
                    .stages__list__item
                        .stages__list__item--number
                            span=val
                        div
                            .stages__list__item--title Название этапа
                            .stages__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.