extends ../layout.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="") Главная
			li(class="breadcrumbs__item") Контакты

		.title Контакты

		.contacts
			.contacts--left
				.address
					.address--title Athletic Club Olympus
					.address--subtitle Спортивний клуб Олімп
					ul
						li 
							div
								svg
									use(xlink:href="#icon-marker")
								span вулиця Європейська, 30А, Вишневе, Київська обл., 08132
						li 
							div
								svg
									use(xlink:href="#icon-phone")
								span 096 088 0011 

							div
								svg
									use(xlink:href="#icon-phone")
								span 569 12-34-56
						li 
							div
								svg
									use(xlink:href="#icon-email")
								span global@com.ua

				.address
					.address--title Athletic Club Olympus
					.address--subtitle Спортивний клуб Олімп
					ul
						li 
							div
								svg
									use(xlink:href="#icon-marker")
								span вулиця Європейська, 30А, Вишневе, Київська обл., 08132
						li 
							div
								svg
									use(xlink:href="#icon-phone")
								span 096 088 0011 
							div
								svg
									use(xlink:href="#icon-phone")
								span 569 12-34-56
						li 
							div
								svg
									use(xlink:href="#icon-email")
								span global@com.ua
				
				form.form
					.form--title Оставить заявку
					.form--row
						.form--col
							input.input(type="text" placeholder="Ваше имя" required)
							input.input(type="email" placeholder="Ваш E-mail" required)
							button.btn.btn--blue Написать
						.form--col
							input.input(type="text" placeholder="Ваш телефон" required)
							textarea.textarea(placeholder="Комментарий" required)
							button.btn.btn--blue Написать
			.contacts--right
				#map.map

	include ../parts/bottom-block.pug

	

	script.
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: { lat: 50.4202, lng: 30.4725 },
				zoom: 17,
				disableDefaultUI: true,
				scaleControl: false,
				navigationControl: false,
				draggable: false
			});
			var icon = {
				url: "img/marker.svg", // url
				scaledSize: new google.maps.Size(36, 36), // scaled size
				origin: new google.maps.Point(0, 0), // origin
				anchor: new google.maps.Point(15, 35) // anchor
			};
			var marker = new google.maps.Marker({
				position: { lat: 50.4202, lng: 30.4725  },
				map: map,
				title: 'Hello World!',
				icon: icon
				});
		}
	
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn1A1EXWtb3Bko71FO1PhxeW7tune4Gsw&callback=initMap")