extends ../layout.pug

block content

	section.main-slider
		.main-slider__container
			.container
				.main-slider__title Привлеките инвестиции в свой бизнес уже сегодня
				.main-slider__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				.btn.btn--gold 
					button Подробнее
				.main-slider__navigation
					.main-slider__arrow
						button(type="button" class="main-slider__prev")
					.main-slider__dots
					.main-slider__arrow
						button(type="button" class="main-slider__next")
		.slider
			.main-slider__slide.active()
				img(src="img/slider-1.jpg", alt="")
			.main-slider__slide.active()
				img(src="img/slider-1.jpg", alt="")
			.main-slider__slide.active()
				img(src="img/slider-1.jpg", alt="")
			.main-slider__slide.active()
				img(src="img/slider-1.jpg", alt="")
			.main-slider__slide.active()
				img(src="img/slider-1.jpg", alt="")

	section.company
		.container
			.company__left
				.title О компании
				.text-block--descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах.
			.company__right
				.company__owner
					.company__owner__photo
						img(src="img/photo.jpg", alt="")
					.company__owner__name Роман Мамедоф
					.company__owner__position Основатель компании

				.company__stats
					.company__stats__item
						.triangle
							div
						.company__stats__item--value 870+
						.company__stats__item--title рабочих мест создано
					
					.company__stats__item 
						.triangle
							div
						.company__stats__item--value 110+
						.company__stats__item--title действующих проектов

	section.services
		.container
			.title Какие услуги мы предоставляем

			.services__list
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Продажа бизнеса
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector-5.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Анализ рентабельности бизнес проектов
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Акселерация стартап-проектов
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector-1.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Привличение инвестиций в бизнес
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector-2.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Юридическое сопровождение
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector-3.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--inner
							.services__list__item--title Составление бизнес планов и ТЭО
							.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
							a(href="" class="services__list__item--link") Подробнее
							img(src="img/icons/Vector-4.svg", alt="")
			.show-more 
				| показать еще

			.services__bottom
				div
					//- img(src="img/tiangle.svg" class="triangle-lion")
					img(src="img/lion.svg", alt="")

				div
					.services__bottom--title 
						| “Жизнь — это игра, 
						br
						| а деньги — способ вести счет”
					.services__bottom--text Тед Тёрнер
					br
					.btn.btn--gold 
						button Привлечь инвестиции

	section.investment
		.container
			.title 
				| Наши инвестиционные проекты
				a(href="") смотреть все проекты
			.investment__list
				each val in [1,2,3]
					.investment__list__item
						.investment__list__item--line
						.investment__list__item--title Название проекта
						.investment__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
						.investment__list__item--price 
							div 
								small 
									b от
								b 20 000
								small 
									b у.е.
								div
									small стоимость входа
						.btn.btn--gold
							button Инвестировать
			.title.title--border
				| Новости
				ul
					li.active Финансы
					li Личностный рост
					li Компании
					li Бизнес интервью
					li Наши проекты
			.news
				div
					.services__list
						each val in [1,2]
							.services__list__item
								.services__list__item--title Заголовок новости
								.services__list__item--wrapper
									.services__list__item--inner
										.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века...
										a(href="" class="services__list__item--link") Читать больше
										.services__list__item--date 20.08.19
					.btn.btn--gold
						button Смотреть все новости
				div
					img(src="img/news.jpg", alt="")

			.title Наши партнеры

			.partners-slider
				.main-slider__navigation
					.main-slider__arrow
						button(type="button" class="main-slider__prev")
					.main-slider__arrow
						button(type="button" class="main-slider__next")
				.slider
					each val in ['minfin_logo.png', 'finline_logo.png', 'logo_garnet.png', 'logo-main.png', 'odessa.png', 'head_logo.png', 'head_logo.png', 'head_logo.png']
						div
							.partners-slider--top
							.partners-slider--img
								img(src='img/partners/' + val alt="")
							.partners-slider--bottom
	include ../parts/bottom-block.pug