extends ../layout.pug

block content
	
	section.main-slider
		.main-slider__container
			.container
				.main-slider__title Привлеките инвестиции в свой бизнес уже сегодня
				.main-slider__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				.btn.btn--gold 
					button Подробнее
		.slider
			.main-slider__slide.active(data-slide-id="1")
				img(src="img/slider-1.jpg", alt="")
			.main-slider__slide.active(data-slide-id="2")
				img(src="img/slider-1.jpg", alt="")

	section.company
		.container
			.company__left
				.title О компании
				.text-block--descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах.
			.company__right
				img(src="img/photo.jpg", alt="")
				div Роман Мамедоф
				div Основатель компании

				div рабочих мест создано

				div действующих проектов

	section.services
		.container
			.title Какие услуги мы предоставляем

			.services__list
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Продажа бизнеса
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector-5.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Анализ рентабельности бизнес проектов
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Акселерация стартап-проектов
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector-1.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Привличение инвестиций в бизнес
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector-2.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Юридическое сопровождение
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector-3.svg", alt="")
				.services__list__item
					.services__list__item--wrapper
						.services__list__item--title Составление бизнес планов и ТЭО
						.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
						a(href="" class="services__list__item--link") Подробнее
						img(src="img/icons/Vector-4.svg", alt="")
			.show-more показать еще
			
			.services__bottom
				img(src="img/lion_head_skulpture.png", alt="")

				div
					.services__bottom--title “Жизнь — это игра, а деньги — способ вести счет”
					.services__bottom--text Тед Тёрнер
					.btn.btn--gold 
						button Привлечь инвестиции

	section.investment
		.container
			.title 
				| Наши инвестиционные проекты
				a(href="") смотреть все проекты
			.investment__list
				each val in [1,2,3]
					.investment__list__item
						.investment__list__item--line
						.investment__list__item--title Название проекта
						.investment__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
						.investment__list__item--price 
							small 
								b от
							b 20 000
							small 
								b у.е.
							div
								small стоимость входа
						.btn.btn--gold
							button Инвестировать
			.title Новости

			.title Наши партнеры
	include ../parts/bottom-block.pug