extends ../layout.pug

block content
	
	section.main-slider
		.main-slider__slide.active(data-slide-id="1")
			//- .banner-block
			//- 	.banner-block--title LIMITLESS FREE TRAINER
			//- 	.banner-block--text Не следует, однако забывать, что новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
			//- 	a(class="banner-block--link" href="") узнай больше
			//- 		svg
			//- 			use(xlink:href="#icon-right-arrow")

	section.company
		.container
			.company__left
				.title О компании
				.text-block--descr Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах.
			.company__right
				img(src="img/photo.jpg", alt="")

	section.services
		.container
			.title Какие услуги мы предоставляем

			.services__list
				.services__list__item
					.services__list__item--title Продажа бизнеса
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
				.services__list__item
					.services__list__item--title Анализ рентабельности бизнес проектов
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
				.services__list__item
					.services__list__item--title Акселерация стартап-проектов
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
				.services__list__item
					.services__list__item--title Привличение инвестиций в бизнес
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
				.services__list__item
					.services__list__item--title Юридическое сопровождение
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
				.services__list__item
					.services__list__item--title Составление бизнес планов и ТЭО
					.services__list__item--text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
					.services__list__item--link Подробнее
			.show-more показать еще

			img(src="img/lion_head_skulpture.png", alt="")
			div “Жизнь — это игра, а деньги — способ вести счет”
			div Тед Тёрнер

			button.btn.btn--gold Привлечь инвестиции

	section.investment
		.container
			.title Наши инвестиционные проекты


	include ../parts/bottom-block.pug