$slideOffsetDesktop = 120px
$slideOffsetTablet = 80px
// $slideOffsetMobile = 100px

.home-page 
	padding-top: 0
	.main-slider
		position: relative
		&__title
			color: $c-white
			width: 50%
			font-size: 40px
			font-weight: 600
			line-height: 52px
			font-family: IBM Plex Serif
			position relative
			letter-spacing: 0.55px
			margin-top: -20px
			&:after 
				content: ''
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
				height: 90%
				width: 3px
				// margin: 10px 0 20px 0
				left: -15px
				top: 0
				bottom: 0
				margin: auto
				display: block
				position absolute
		&__text
			color: $c-white
			font-size: 20px
			line-height: 24px
			margin-top: 32px
			width: 59%
			font-weight: 300
			letter-spacing: 0.15px
		.btn--gold
			margin-top: 40px
			margin-left: 10px
			width: 250px
		&__navigation
			position: absolute
			right: 47px
			bottom: -72px
			display: flex
			align-items: center
			.main-slider__arrow
				position relative
				transition: 0.1s
				&:hover
					transform: scale(1.1)
				&:last-child
					&:before
						transform: rotate(135deg)
						left: -9px
					&:after
						transform: rotate(135deg)
						left: 2px
				&:before
					content: ''
					border-left: 2px solid $c-gold
					border-top: 2px solid $c-gold
					width: 26px
					height: 26px
					position: absolute
					left: 10px
					top: 0
					transform: rotate(-45deg)
					z-index 1
					pointer-events: none
				&:after
					content: ''
					border-left: 2px solid $c-gold
					border-top: 2px solid $c-gold
					width: 12px
					height: 12px
					position: absolute
					left: 14px
					top: 7px
					transform: rotate(-45deg)
					z-index 1
					pointer-events: none
				.main-slider__prev, .main-slider__next
					width: 28px
					height: 28px
					background: none
					border: 2px solid #2C2C2C
					transform: rotate(45deg)
					cursor pointer
					box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5)
		&__dots
			margin: -3px 23px 0
			.slick-dots
				display: flex
				li
					margin: 0 7px
					button
						background: none
						border: 2px solid #2C2C2C
						height 24px
						width: 24px
						font-size: 0
						cursor pointer
						position relative
						border-radius: 2px
						&:after 
							left: 1px
							top: 1px
							position: absolute
							width: calc(100% - 2px)
							height calc(100% - 2px)
							background: $c-gold
					&.slick-active
						button 
							&:after
								content: ''
		&__container
			position: absolute
			z-index: 2
			top:0
			left: 0
			width: 100%
			height: 100%
			display: flex
			align-items: center
			.container
				position: relative
		.slider
			.slick-slide
				height: 496px
				position relative
				&:after
					content: ''
					width: 100%
					height 100%
					position absolute
					left: 0
					top: 0
					background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 35.6%, rgba(244, 248, 249, 0) 100%)
				img
					width: 100%
					height: 100%
					object-fit: none
	.title
		font-size: 40px
		position: relative
		font-weight: 600
		display: flex
		align-items: center
		justify-content: space-between
		font-family: IBM Plex Serif
		letter-spacing: 1px
		& > div
			width: 100%
		&--border
			border-bottom: 2px solid #eee
			width: 87%
		ul 
			display: flex
			align-self: flex-end
			li
				font-size: 16px
				font-weight: 400
				margin: 0 6px 0px
				position relative
				padding: 14px 13px
				cursor: pointer
				font-family: Montserrat
				transition: 0.1s
				&:after
					position absolute
					bottom: -2px
					left: 0
					width: 100%
					height: 4px
					background: $c-gold
				&:hover
					color: $c-gold
				&.active
					color: $c-gold-dark
					// font-weight: 600
					text-shadow: 0 0px 0px $c-gold-dark
					&:after
						content: ''
		a 
			font-size: 16px
			color: $c-gold-dark
			position relative
			font-family: Montserrat
			font-weight: 400
			margin: 10px 58px 0px 0px
			&:after
				content: ''
				position: absolute
				right: -28px
				bottom: 0px
				top: 1px
				margin: auto
				width: 0
				height: 0
				border-top: 4px solid transparent
				border-bottom: 4px solid transparent

				border-left: 7px solid $c-gold
				transition: 0.2s
			&:before
				content: ''
				background: url(../img/tiangle-gold.svg) no-repeat
				background-size: contain
				width: 17px
				height: 17px
				position absolute
				right: -32px
				bottom: 1px
				margin: auto
				transform: rotate(90deg)

	.company
		padding: 0 0 50px 0
		background: url(../img/new-york.jpg)
		background-size: cover
		background-position: center 0
		.title 
			flex-wrap: wrap
			&:after 
				content: ''
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
				height: 2px
				width: 64%
				margin: 15px 0 18px 0
				left: 0
				display: block
		.container
			display: flex
		&__left
			margin-left: -30px
			width: calc(50% + 60px)
			padding: 7px 36px 7px 28px
			background: $c-white
		&__text
			letter-spacing: 0px
			line-height: 1.3em
		&__right
			width: 50%
		&__owner
			padding-top: 98px
			position relative
			&__photo
				background: #1A1A1A
				position relative
				&:before 
					content: ''
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
					height: 2px
					width: calc(100% - 63px)
					right: 26px
					top: -19px
					display: block
					position absolute
				&:after 
					content: ''
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
					width: 2px
					height: calc(100% + 40px)
					right: 25px
					top: -19px
					display: block
					position absolute
				img
					display: block
					margin: auto
			&__name
				padding: 12px
				background: #1A1A1A
				position: absolute
				width: 167px
				left: 0
				height: 35px
				right: 24px
				bottom: -12px
				margin: auto
				font-weight: 500
				font-size: 14px
				line-height: 14px
				color: $c-white
				z-index: 1
				text-align: center
				font-weight: 300

			&__position
				padding: 7px
				background: #3A3A3A
				position: absolute
				width: 217px
				left: 0
				right: 24px
				bottom: 0px
				height: 38px
				transform: translateY(100%)
				padding-top: 20px
				margin: auto
				font-size: 14px
				line-height: 10px
				color: $c-white
				text-align: center
				font-weight: 300
		&__stats
			padding: 99px 29px 26px
			display: flex
			justify-content: space-around
			&__item
				width: 190px
				position: relative
				.triangle
					transform: rotate(180deg)
					top: -10px
					background: url(../img/tiangle-stats.svg) no-repeat
					background-size: contain
					position absolute
					width: 145px
					height: 118px
					left: -6px
					right: 0
					margin: auto
				&--value
					font-weight: bold
					font-size: 30px
					line-height: 37px
					color: #1A1A1A
					text-align: center
					position: relative
				&--title
					margin-top: 8px
					background: #1A1A1A
					padding: 10px 8px
					font-size: 14px
					line-height: 17px
					color: $c-white
					text-align: center
					position: relative
					font-weight: 300

	.services
		background: #1A1A1A
		padding: 30px 0 39px
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8)
		.title
			color: $c-white
			letter-spacing: 0.6px

		&__list
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-top: 36px
			flex-flow: row wrap
			&::after
				content: ""
				// flex: auto
				width:calc(100%/3 - 20px)

			&__item
				width: calc(100%/3 - 20px)
				margin-bottom: 30px
				background: #1A1A1A
				box-shadow: 0px 0px 20px #000000
				padding: 13px 20px
				&[data-hidden-service]
					display none
				// &:last-child
				// 	margin-right: auto
				// 	margin-left: 30px
				&--wrapper
					height: 100%
					padding: 1px
					content: ''
					position: relative
					display: block
					background: linear-gradient(90deg, #6A5538 -0.02%, #BC975E 21.32%, #D9BE85 37.46%, #E7D491 55.17%, #C5A76C 67.3%, #BC975E 81.72%, #6A5538 99.94%)
				&--inner
					background: #1A1A1A
					padding: 13px 17px
					height: 100%
				&--title
					color: #d4d4d4
					font-weight: 500
					font-size: 16px
					// height: 40px
					margin-bottom: 17px
				&--text
					margin-top: 0
					font-size: 12px
					color: #bbbbbb
					margin-bottom: 50px
					font-weight: 300
				&--link
					// margin-top: 20px
					color: #555
					width: 55%
					// border-left: 1px solid #3d3d3d
					// border-top: 1px solid #3d3d3d
					position: absolute
					right: 0
					bottom: 0
					text-align: center
					padding: 16px 0
					transition: 0.1s
					&:hover
						background: $c-gold-dark
						color: $c-white
						&:before, &:after
							display: none
					&:before
						// transition: 0.1s
						content: ''
						position absolute
						right: 0
						top: 0px
						width: 82%
						height: 1px
						background: #3d3d3d
					&:after
						// transition: 0.1s
						content: ''
						position absolute
						left: -1px
						bottom: 0
						width: 1px
						height: 65%
						background: #3d3d3d
				img
					position: absolute
					background: #1a1a1a
					z-index: 1
					padding: 0 7px
					bottom: -8px
					left: 5px

		.show-more
			color: $c-white
			margin: -15px auto 0
			width: 150px
			text-align: center
			position: relative
			cursor: pointer
			&.active
				&:after
					transform: rotate(180deg)
					bottom: -13px
				&:before
					transform: rotate(0)
			&:after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -14px
				margin: auto
				width: 0
				height: 0
				border-left: 4px solid transparent
				border-right: 4px solid transparent

				border-top: 7px solid $c-gold
				transition: 0.2s
			&:before
				content: ''
				background: url(../img/tiangle-gold.svg) no-repeat
				background-size: contain
				width: 16px
				height: 16px
				position absolute
				left: 0
				right: 0
				bottom: -18px
				margin: auto
				transform: rotate(180deg)
				transition: 0.2s

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 25px
			.btn--gold
				width: 272px
				margin-top 50px
				position relative
				left: 15px
				top: 15px
				button
					padding: 9px 0px

			& > div:first-child
				width: 42%
				position relative
				// .triangle-lion
				// 	position: absolute
				// 	z-index 2
				// 	width: 100%
				// 	max-width: 382px
				// 	& + 
				img, svg
					max-width: 420px
					display: block
					left: 6px
					position relative

			& > div:last-child
				width: 58%

			&--title
				font-family: IBM Plex Serif
				font-style: normal
				font-weight: 600
				font-size: 40px
				line-height: 52px
				color: $c-white
				position relative
				padding-left: 10px
				&:before 
					content: ''
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
					height: 2px
					width: calc(59%)
					left: -25px
					bottom: -32px
					display: block
					position absolute
				&:after 
					content: ''
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
					width: 2px
					height: calc(100% + 40px)
					left: -25px
					bottom: -32px
					display: block
					position absolute
			&--text
				font-size: 20px
				line-height: 24px
				color: $c-white
				margin-top: 18px
				position: relative
				background: #1a1a1a
				display: inline-block
				padding: 0 10px
				// margin-left: 20px

	.investment
		padding: 22px 0 80px 0
		.title
			letter-spacing: 0px
		&__list
			display: flex
			justify-content: space-between
			margin-top: 76px
			& + .title
				margin-top: 65px
			&__item
				background: $c-white
				box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
				padding: 30px 31px 50px
				width: calc(100%/3 - 20px)
				text-align: center
				position: relative
				&--line
					border: 2px solid $c-gold
					position: absolute
					height: 65px
					width: calc(100% - 48px)
					margin: 15px auto
					left: 24px
					top: -34px
				&--title
					text-align: center
					color: #1A1A1A
					font-weight: 600
					font-size: 20px
					line-height: 24px
					position: relative
					background: $c-white
					display: inline-block
					padding: 0 16px
					&:after
						content: ''
						background: linear-gradient(90deg, #6A5538 -0.02%, #BC975E 21.32%, #D9BE85 37.46%, #E7D491 55.17%, #C5A76C 67.3%, #BC975E 81.72%, #6A5538 99.94%);
						height: 2px
						width: 66px
						margin: 17px auto 20px
						left: 0
						display: block
				&--text
					font-size: 12px
					line-height: 15px
					text-align: left
				&--price
					text-align: center
					font-size: 30px
					margin-top: 31px
					font-family: IBM Plex Serif
					font-style: normal
					font-weight: 600
					position relative
					&:after
						content: ''
						background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
						height: 2px
						width: calc(100% + 10px)
						margin: auto
						left: -5px
						top: 0
						bottom: 10px
						display: block
						position: absolute
					& > div
						position: relative
						background: $c-white
						z-index: 1
						display: inline-block
						padding: 0 15px
					b
						background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
						-webkit-background-clip: text
						-webkit-text-fill-color: transparent
					small
						font-size: 16px
						margin: 0 5px
						b	
							font-size: 20px
							position relative
							top: -2px
						&:last-child
							font-size: 14px
							display: block
							color: #ccc
							margin-top: -2px
							font-weight: 400
							font-family: 'Montserrat', sans-serif
				.btn
					margin: 39px auto 0
					width: 250px

		.tabs
			& + .title
				margin-top: 38px
				letter-spacing: 0.7px
			&--item
				display: none
				&.active
					display block
		.news
			margin-top: 40px
			display: flex
			justify-content: space-between

			.btn--gold
				width: 268px
				margin: 26px auto 0
				display: block
				button 
					padding: 8px 0
			.services__list
				margin-top: 0
				&__item
					background: $c-white
					width: calc(100%/2 - 15px)
					padding: 12px 15px 25px 15px
					box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15)
					margin-top: 0
					&--inner
						background: $c-white
						padding: 15px
						height: auto
					&--wrapper
						margin-top: 14px
						height: auto
					&--link
						border-color: #ccc
						color: #ccc
						&:before
							background: #ccc
						&:after
							background: #ccc
					&--title
						color: #000
						height: auto
						padding-left: 14px
						font-size: 20px
						font-weight: 500
						margin-bottom: 0
					&--text
						color: #000
						margin-top: 0
						line-height: 17px
						font-size: 14px
						margin-bottom: 40px
					&--date
						font-style: normal;
						font-weight: bold
						font-size: 16px
						line-height: 20px
						color: $c-gold-dark

			& > div
				&:first-child
					width: calc(66%)
				&:last-child
					width: calc(33% - 20px)
					img
						width: 100%
						max-width: 371px
						display: block

		.partners-slider
			margin: 47px -20px
			position relative
			.main-slider__navigation
				left: 0
				right: 0
				margin: auto
				width: 87px
				justify-content: space-between
				.main-slider__arrow
					transform: scale(0.7)
					&:hover
						transform: scale(0.8)
			&--top, &--bottom
				background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%);
				position: absolute
				left: -8px
				top: -6px
				width: calc(100% + 16px)
				height: 24px
				&:after
					content: ''
					background: $c-white
					position: absolute
					left: 1px
					top: 1px
					width: calc(100% - 2px)
					height: calc(100% - 2px)
			&--bottom
				bottom: -6px
				top: auto

			&--img
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: #1A1A1A
				z-index: 1
				display: flex
				align-items: center
				padding: 10px
				img 
					width: 100%
					position relative
					z-index: 1
			.slick-list
				padding: 10px 0
			.slick-slide
				height: 100px
				margin: 0 30px
				position: relative
				height: 105px
				&:after
					content: ''
					background: radial-gradient(29.14px at 56.81% 48.17%, #F9E7B8 0%, #BE9142 100%)
					position: absolute
					right: -30px
					top: -5px
					height: calc(100% + 11px)
					width: 1px


@keyframes slidein {
  from {
		visibility: hidden
		transform: translateX(100%)
  }

  to {
	visibility: visible
	transform: translateX(0%)
  }
}	