ul.submenu
    li 
        a(href="") Вклады
    li.half-size
        a(href="") Вклад "Комфорт"
    
    
    li 
        a(href="") Вклад "Перспектива"
    li.half-size
        a(href="") Вклад "Стабильность"