ul.submenu
    li
        a(href="") Информация о компании
    li.col-8
        a(href="") Законодательная база
            br
            | о инвестициях
    li
        a(href="") Документы и тарифы
    li.col-8
        a(href="") Мероприятия