ul.submenu
    li
        a(href="") Все новости
    li
        a(href="") Личностный рост
    li.col-6
        a(href="") Бизнес Интервью
    li
        a(href="") Финансы
    li
        a(href="") Компании
    li.col-6
        a(href="") Наши проекты