ul.submenu
    li 
        a(href="business_sale.html") Продажа бизнеса
    li 
        a(href="") Составление бизнес планов 
            br
            | и ТЭО
    li 
        a(href="") Привличение инвестиций 
            br 
            | в бизнес
    li 
        a(href="") Управление активами
    li 
        a(href="") Анализ рентабельности 
            br 
            | бизнес проектов
    li 
        a(href="") Акселерация стартап-проектов
    li 
        a(href="") Юридическое сопровождение
    li 
        a(href="") Антикризисный менеджмент